.bg-text {
    background-color: rgb(0,0,0);
    background-color: rgba(0,0,0, 0.4);
    color: white;
    font-weight: bold;
    font-size: 20px;
    border: 3px solid #ffffff;
    position: absolute;
    top: 5%;
    left: 51%;
    transform: translate(-50%, -46%);
    z-index: 2;
    width: 54%;
    height: 9%;
    padding: 0px;
    text-align: center;
}

h1 {
    color: white;
    -webkit-text-stroke: 1px #23430C;
    text-shadow: -7px 5px 7px #23430c, 0px 0px 0px #23430c, 0px 0px 0 #23430c, 0px 0px 0 #23430c;
    display: block;
    font-family: monospace;
    font-size: 7em;
    color: #ffffff;
    margin-top: -813px;
    margin-left: 571px;
    font-weight: bold;
}

body {
    background-image: url('images/background.png');
    background-repeat: no-repeat;
    background-size: cover;

    /* background-color: #cccccc; */
   }
   

#map {
    width: 1000px;
    height: 800px;
    left: 25%;
    top: 105px;
    position: fixed;
    border: 20px;
    border-color: #000;
    outline: 20px;
    outline-color: #000;
}

#map-container { 
    height: 100%; 
    width: 100%;
}

#bar-top {
    background-color: #000000;
    position: fixed;
    left: 481px;
    top: 108px;
    height: 4px;
    width: 1006px;
}

#bar-bottom {
    background-color: black;
    position: absolute;
    left: 480px;
    bottom: 21px;
    height: 4px;
    width: 1006px;
}

#bar-left {
    background-color: #000000;
    position: absolute;
    left: 480px;
    top: 108px;
    height: 808px;
    width: 4px;
}

#bar-right {
    background-color: #000000;
    position: absolute;
    right: 433px;
    top: 108px;
    height: 808px;
    width: 4px;
}





